<div class="container">
  <div><%= @brewery.name %> <%= @brewery.address%> <%= @brewery.zip%> <%= @brewery.city%> </div>
</div>
  <div>  <%= link_to "back", breweries_path, class: "btn btn-warning" %> </div>